.info{
    background-image: url("../image/32083874_2562292460462948_2164762146812985344_n.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1020px;
    filter: brightness(50%);
    position: relative;
}
section .row .col-12{
    position: absolute;
    top: 90px;
    left: 65px;
    line-height: 25px;
}
section .row .col-12 h2{
    margin-left: 295px;
    color: white;
}
section .row .col-12 form{
    float: left;
    font-size: 12px;
    width: 95%;
}
section .row .col-12 form input{
    width: 100%;
}
section .row .col-12 form textarea{
    width: 100%;
}
section .row .col-12 .plus{
    display: flex;
}
section .row .col-12 form .l{
    width: 50%;
}
section .row .col-12 form .l textarea{
    width: 95%;
    float: left;
}
section .row .col-12 form .r{
    width: 50%;
    margin-left: 13px;
}
section .row .col-12 form .r textarea{
    width: 100%;
}
.add{
    width: 771px;
    margin-top: 25px;
}
.add a{
    margin-left: 642px;
    background-color: orange;
    border: none;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
section .row .col-6{
    width: 25%;
    border: 2px solid white;
    position: absolute;
    top: 172px;
    right: 80px;

}
section .row .col-6 ul li p{
    font-size: 11px;
    color: white;
}
section .row .col-6 ul li{
        color: orange;
        list-style-type: disc;
        margin-top: -15px;
}
section .row .col-6 h4{
    color: white;
}
