body {
    margin: 0;
    padding: 0;
}
.custom-font {
    font-family: "Segoe UI";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}
.container-fluid .row .col-4 ul li {
    padding: 0;
    text-align: center;
}
.container-fluid .row .col-4 ul li a {
    color: orange;
}
    .container-fluid .row .col-4 ul li .active {
        background: orange;
        color: white;
    }
    .container-fluid .row .col-4 ul li .active:hover {
        background: #ff8000;
    }

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.center {
    width: 50%;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 15px;
}
.right {
    width: 20%;
    padding: 15px;
    text-align: center;
}

/*left side*/

.col-4 .title {
    display: flex;
    text-align: center;
    padding: 10px 0;
}
    .title .col-5 img {
        width: 100%;
    }
    .title .col-6 .row .col-6 p {
        font-size: 14px;
    }

.col-4 .job {
    padding-top: 10px;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 10px;
}
    .col-4 .job div {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }
    .col-4 .job div img {
        vertical-align: middle;
        width: 100%;
        padding: 10px;
    }


/*center-side*/

.package {
    padding: 20px;
    border: 1px solid #d2d2d2;
}
    .package .header {
        position: relative;
    }
        .package .header .form-control {
            border-right: none;
            border-left: none;
            border-top: none;
        }
        .package .header a i {
            text-decoration: none;
            color: #fff;
            background: orange;
            padding: 8px;
            border: 1px solid #d2d2d2;
            border-radius: 20px;
        }
        .package .header a i:hover {
            background: #ff8000;
        }

.package .tour-item {
    text-align: center;
}
    .package .tour-item a {
        color: #000;
    }
    .package .tour-item a:hover {
        text-decoration: none;
    }


.package .tour-item img {
    vertical-align: middle;
    width: 100%;
    height: 85px;
}

/*right-side*/

.profile {
    border: 1px solid #d2d2d2;
    padding: 20px 10px;
    text-align: center;
}
.profile-picture {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}
    .profile-picture img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #ff8000;
        margin-bottom: 15px;
    }
.checked-star {
    color: #ff8000;
}

.edit-profile a {
    text-decoration: none;
    background: orange;
    color: #fff;
    border-radius: 5px;
    padding: 8px 20px;
}
.edit-profile a:hover {
    background: #ff8000;
}


