body{
    margin: 0;
}
header img {
    margin-top: -11px;
    position: relative;
    height: 43px;
    margin-left: -40px;
}
header .row ul li{
    width: 100px;
    margin-right: 0;
}
header a{
    font-size: 20px;
}
.nice{

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 215px;
}
.nice h2{
    text-align: center;
    padding-top: 25px;
    color: white;
}
.locat {
    top: -15px;
    width: 170px;
    background-color: orange;
    position: absolute;
    left: 240px;
    padding: 1px;
    padding-left: 11px;
    font-size: 18px;
}
.locat i{
    float: left;
    margin-top: 20px;
    color: black;
}
.locat p{
    margin-top: 15px;
    color: black;
}
.you{
    margin-top: -35px;
}
.nice .found{
    margin-top: 25px;
    margin-left: -175px;
    color: rgb(197, 197, 197);
}
section .row .col-md-4 h4{
    font-size: 15px;
}
section .row .col-md-4 .search{
    border-radius: 50px;
    padding-left: 10px;
    padding: 3px;
}
section .row .col-md-4 a{
    background-color: orange;
    color: white;
    padding: 7px 10px;
    border-radius: 50px;
    margin-left: -40px;
}
section .row .col{
    text-align: center;
}
.col-md-8 a{
    color: black;
}
section .col-6 {
    padding: 0;
    margin-right: -30px;
}
section .row{
    padding: 0;
    margin-left: 25px;
    margin-top: 25px;
}
section .row .col-6 .col-md-4{
    margin-left: -75px;
}
section .row .col-md-8 img{
    width: 125px
}
.tours{
    font-size: 12px;
}
.cast{
    font-size: 11px;
    margin-top: 4px;
}
.guide{
    font-size: 9px;
    margin-top: -15px;
    margin-bottom: 25px;
}
.van{
    color: orange;
}
footer .row{
    padding: 20px 50px;
}
footer h5{
    font-size: 18px;
}
footer .col-md-4 form{
    margin-top: 0;
}
footer .col-md-4 .title{
    margin-left: 134px;
}
/*
footer{
    display: inline-block;
    width: 100%;
}
footer .foot{
    margin-top: 0;
}
.foot .colu1{
    width: 32%;
}
.foot .colu2{
    width: 29%;
    padding-top: 22px;
    padding-left: 49px;
}
.foot .colu3{
    width: 25%;
    padding-left: 78px;
}
.foot .colu2 img{
    height: 70px;
    width: 235px;
    margin-left: 10px;
}
.colu3 h5{
    font-size: 19px;
}
.colu3 form{
    margin-top: 32px;
}
