haeder img{
    margin-top: -15px;
}
.signin .filter {
    background: rgba(0,0,0,.5);
    width: 98%;
    height: 785px;
    position: absolute;
    z-index: 100;
}
.signin img{
    width: 100%;
    height: 785px;
    position: relative;
}
.namf{
    position: absolute;
    top: 10%;
    left: 7%;
    line-height: 25px;
    z-index: 102;
}
.namf h1{
    font-weight: bold;
    color: white;
    float: right;
}
.namf h2{
    font-weight: bold;
    color: white;
}
.namf form{
    background-color: #f1f1f2;
    padding: 20px;
}
.namf input{
    padding: 8px;
    margin-bottom: 15px;
    width: 49%;
    border-radius: 3px;
    border: 1px solid gray;
    border-top: none;
}

.namf input[type="file"] {
    border: none;
    padding: 8px 0;
}
.namf textarea{
    margin-bottom: 15px;
}
.suc {
    margin-top: 15px;
}
.namf .suc a{
    padding: 5px 8px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}
.namf h2.or{
    color: orange;
}
.namf a{
    text-decoration-color: orange;
    font-size: 27px;
    font-weight: 550;
}
.namf .tel{
    width: 13%;
}
.namf .num{
    width: 26%;
}
.namf .em{
    width: 230px;
}
.namf span{
    font-weight: lighter;
    font-size: 13px;
}
.namf p{
    font-size: 14px;
}
.namf p,.namf select{
    display: inline;
}
.namf select{
    margin-bottom: 15px;
    width: 275px;
}
.namf .upload{
    width: 205%;
}
.more{
    position: absolute;
    right: 100px;
    bottom: 0;
    z-index: 103;
    color: white;
}
.main h1{
    text-align: center;
    margin: 100px 0;
    font-weight: bold;
}
.main .row .col-6{
    float: left;
    width: 33.33%;
    padding: 0 10px
}
.left{
    width: 40%;
  }

.middle, .right  {
    width: 30%;
}
.main .row .col-6 img{
    width: 75px;
    height: 75px;
}
.row .col-6 p{
    font-size: 28px;
    margin-top: 10px;
}
.row .col-6 span{
    font-size: 11px;
    color: gray;
}
.loook .row .col img{
    float: left;
    border-radius: 50px;
    border: 3px solid orange;
    width: 75px;
    height: 75px;
}
.namg{
    float: left;
    font-size: 12px;
    margin-top: 12px;
    margin-left: 10px;
}
.namh{
    font-size: 9px;
    margin-left: 250px;
    margin-top: 13px;
}
.loook{
    margin-top: 40px;
}
.loook .row .column hr {
    border: 0;
    border-top: 1px solid #000;
    width: 71%;
    margin-left: 84px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.loook .row .column span{
    padding-left: 12px;
    font-size: 9px;
}
.loook .big{
    font-size: 30px;
}
