header img{
    margin-top: -15px;
}
.signin{
    background-image: url("../image/nadia4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    filter: brightness(50%);
    position: relative;
}
.namf{
    position: absolute;
    top: 18%;
    left: 33%;
    line-height: 25px;
}
.namf h2{
    font-weight: bold;
    color: white;
}
.namf form{
    background-color: #f1f1f2;
    padding: 20px;
    margin-top: 10%;
}
.namf input{
    margin-bottom: 7%;
    width: 100%;
}
.namf .suc a{
    font-size: 18px;
    float: right;
    width: 24%;
    padding: 5px 13px;
    background-color: orange;
    border: none;
    border-radius: 10%;
    margin-top: -2%;
}
.namf h2.or{
    color: orange;
}
.namf a{
    text-decoration-color: orange;
    font-size: 27px;
    font-weight: 550;
}
