body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
}
header #home{
    color: orange;
    border-bottom: 2px solid;
    padding-bottom: 6px;
}
header{
    background-color: white;
    padding: 5px;
    border: 2px solid orange;
}
header img{
    top: 5px;
    margin-top: -16px;
    position: relative;
    height: 50px;
    margin-left: -45px;
}
header .row ul{
    position: absolute;
    top: 15px;
    left: 200px;
    margin-top: 2px;
}
header .row ul li{
    float: left;
    margin-right: 45px;
    margin-top: -15px;
    list-style-type: none;
}
header a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.bodz{
    margin-top: -10px;
}
.become{
    border-radius: 5px;
    color: white;
    background-color: orange;
    padding: 10px;
}
.find{
    background-image: url("../image/184239.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 400px;
}
.find h1{
    color: white;
    text-align: center;
    font-weight: bolder;
    padding-top: 40px;
}
.find form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}
.find form input{
    border: none;
}
.let{
    color: orange;
}
.but{
    margin-top: -55px;
}

.siem{
    border-radius: 50px;
    background-color: white;
    padding: 3px 10px;
}
.tour{
    background-color: orange;
    color: white;
    border-radius: 50px;
    padding: 4px 10px;
    margin-left: 5px;
}
.tour a{
    background-color: orange;
    color: white;
    text-decoration: none;
}
.tour a:hover{
    color: rgb(250, 229, 229);
}
.why {
    margin: 30px 0;
}
.why h1{
    text-align: center;
    font-weight: bolder;
    color: black;
}
.why .bcuz{
    color: orange;
}
.infu img{
    height: 200px;
    width: 100%;
}
.infu .row{
    margin-top: -15px;
}
.col-6{
    padding: 0;
}
.col-6 span{
    text-align: center;
    display: block;
    padding: 0 20px;
    font-size: 17px;
}
.col-6 h2{
    color: orange;
    font-weight: bolder;
    margin-top: 25px;
    text-align: center;
}
.row{
    padding: 10px 50px;
}
footer .row .col-md-4 img{
    height: 50px;
    width: 200px;
}
.row h1{
    font-size: 20px;
}

.face a{
    margin: 7px;
    text-decoration: none;
}
.book{
    color: #3B5998
}
.you{
    color: #FF0000;
}
.pint{
    color: #C92228;
}
.row .colu2{
    padding-top: 22px;
    padding-left: 28px;
}
.ig{
    border-radius: 15px;
    padding-top: 22px;
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.colu3{
    padding-left: 88px;
}

.col-md-4 form{
    margin-top: 9px;
}
.col-md-4 form select{
    margin-left: 30px;
}
.col-md-4 .title{
    display: inline-block;
    margin-left: 122px;
}
.title {
    float: right;
}
.title span{
    font-size: 11px;
    font-style: italic;
    color: gray;
    text-align: right;
    padding: 0;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.lighter{
    font-weight: lighter;
}
footer .row{
    border: 2px solid orange;
    margin-top: 40px;
}
.middle{
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
